.nav {
  display: flex;
  width: 50%;
  margin: auto;
}
.nav > * {
  padding: 5px;
  text-align: center;
  flex-basis: 100%;
  margin: 10px;

  color: #bb2b1b;
  font-weight: 500;
}
.order-now {
  background-color: #bb2b1b;
  border: 2px solid #bb2b1b;
  color: white;
  border-radius: 10px;
}
