// colors
$primary-red: #bb2b1b;
$transparent-black: #000000a8;
$pure-white: #ffffff;
$transparent-yellow: #ffdb58c5;

//fonts

$lucida-sans: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
  "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
